.DS_Store
.idea

*.crt
*.csr
*.key
*.pem
*.p8

workbox-*.js
deploy
node_modules/

backend/vendor/

public/*
!public/vendor
!public/.htaccess
!public/favicon.ico
!public/index.php
!public/robots.txt

local.php.ini
art_local_latest_db.sql
configs/nginx/nuxt.conf